*~
.*~
*.db
*.log
*.ncb
*.pdb
*.sdf
*.suo
*.vcproj.*.user
*.vcxproj.user

.vs
.Rhistory

bin/.intermediate_*

bin/lv2/squeezer_*.so

bin/standalone/Squeezer*.exe
bin/standalone/squeezer_*

bin/vst/Squeezer*.dll
bin/vst/squeezer_*.so

bin/vst3/Squeezer*.vst3
bin/vst3/squeezer_*.so

skins/default_skin.ini

Source/api/

final/
ignore/
releases/

ipch/
Debug/
Release/
