{# Create a new file by inserting a special string into the output. #}
{# This allows you to create multiple files from a single template. #}

{%- macro start_new_file(filename) %}
### New file: {{ filename }}
### Content:
{% endmacro -%}

{# -------------------------------------------------------------------------- #}

{% macro render(variables, selector) %}
{% for variable_key in variables if variables[variable_key].selector == selector -%}
{% for n in range(variables[variable_key].repeats) -%}
{{ variable_key }}
{%- endfor %}

{% endfor %}
{% endmacro %}
