{# Create a new file by inserting a special string into the output. #}
{# This allows you to create multiple files from a single template. #}

{%- macro start_new_file(filename) %}
### New file: {{ filename }}
### Content:
{% endmacro -%}

{# -------------------------------------------------------------------------- #}

{% macro render(variables) %}
{% for variable_key in variables -%}
{%- for n in range(variables[variable_key].repeats) -%}
{{ variable_key }}
{{- '.' if not loop.last }}
{%- endfor %}

{% endfor %}
{% endmacro %}
