{%- import '00-stencils/NOT_FOUND.jinja' as common -%}

{# -------------------------------------------------------------------------- #}

{%- set all_variables = {
  'A': {
    'repeats': 5,
    'selector': 'ab',
  },
  'b': {
    'repeats': 3,
    'selector': 'ab',
  },
  'c': {
    'repeats': 2,
    'selector': 'cd',
  },
  'D': {
    'repeats': 10,
    'selector': 'cd',
  },
} -%}

{# -------------------------------------------------------------------------- #}

{{- common.start_new_file('ab.txt') -}}

{{- common.render(all_variables, 'ab') -}}

{# -------------------------------------------------------------------------- #}

{{- common.start_new_file('cd.txt') -}}

{{- common.render(all_variables, 'cd') -}}
