{% set copyright = [
  '----------------------------------------------------------------------------',
  '',
  'Squeezer',
  '========',
  'Flexible general-purpose audio compressor with a touch of citrus',
  '',
  'Copyright (c) 2013-2020 Martin Zuther (http://www.mzuther.de/)',
  '',
  'This program is free software: you can redistribute it and/or modify',
  'it under the terms of the GNU General Public License as published by',
  'the Free Software Foundation, either version 3 of the License, or',
  '(at your option) any later version.',
  '',
  'This program is distributed in the hope that it will be useful,',
  'but WITHOUT ANY WARRANTY; without even the implied warranty of',
  'MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the',
  'GNU General Public License for more details.',
  '',
  'You should have received a copy of the GNU General Public License',
  'along with this program.  If not, see <http://www.gnu.org/licenses/>.',
  '',
  'Thank you for using free software!',
  '',
  '----------------------------------------------------------------------------'
] %}


{% set vst2_category = 'Dynamics/Compressor' %}
{% set code_indentation = '3' %}


{% set project = {
   'name':       'Squeezer',
   'name_lower': 'squeezer'}
%}


{% set targets = {
   'standalone': [
      {
       'name':            'squeezer_standalone_stereo',
       'description':     'Standalone (Stereo)',
       'binary_linux':    'squeezer_stereo',
       'binary_windows':  'Squeezer (Stereo)',
       'defines': [
          'SQUEEZER_STEREO=1',
          'SQUEEZER_EXTERNAL_SIDECHAIN=1',
      ]},

      {
       'name':            'squeezer_standalone_mono',
       'description':     'Standalone (Mono)',
       'binary_linux':    'squeezer_mono',
       'binary_windows':  'Squeezer (Mono)',
       'defines': [
          'SQUEEZER_MONO=1',
          'SQUEEZER_EXTERNAL_SIDECHAIN=1',
      ]},
   ],
   'unittest': [
      {
       'name':            'squeezer_unittest',
       'description':     'Unittest',
       'binary_linux':    'squeezer_unittest',
       'binary_windows':  'Squeezer (Unittest)',
       'defines': [
          'SQUEEZER_STEREO=1',
          'SQUEEZER_EXTERNAL_SIDECHAIN=1',
      ]},
   ],
   'vst2': [
      {
       'name':            'squeezer_vst2_stereo',
       'description':     'VST2 plug-in (Stereo)',
       'binary_linux':    'squeezer_stereo_vst2',
       'binary_windows':  'Squeezer (Stereo)',
       'defines': [
          'SQUEEZER_STEREO=1',
          'SQUEEZER_EXTERNAL_SIDECHAIN=1',
      ]},

      {
       'name':            'squeezer_vst2_mono',
       'description':     'VST2 plug-in (Mono)',
       'binary_linux':    'squeezer_mono_vst2',
       'binary_windows':  'Squeezer (Mono)',
       'defines': [
          'SQUEEZER_MONO=1',
          'SQUEEZER_EXTERNAL_SIDECHAIN=1',
      ]},

      {
       'name':            'squeezer_vst2_stereo_no_sidechain',
       'description':     'VST2 plug-in (Stereo, no side-chain)',
       'binary_linux':    'squeezer_stereo_no_sidechain_vst2',
       'binary_windows':  'Squeezer (Stereo, no side-chain)',
       'defines': [
          'SQUEEZER_STEREO=1',
          'SQUEEZER_EXTERNAL_SIDECHAIN=0',
      ]},

      {
       'name':            'squeezer_vst2_mono_no_sidechain',
       'description':     'VST2 plug-in (Mono, no side-chain)',
       'binary_linux':    'squeezer_mono_no_sidechain_vst2',
       'binary_windows':  'Squeezer (Mono, no side-chain)',
       'defines': [
          'SQUEEZER_MONO=1',
          'SQUEEZER_EXTERNAL_SIDECHAIN=0',
      ]},
   ],
   'vst3': [
      {
       'name':            'squeezer_vst3',
       'description':     'VST3 plug-in',
       'binary_linux':    'Squeezer',
       'binary_windows':  'Squeezer',
       'defines': [
          'SQUEEZER_MULTIBUS=1',
          'SQUEEZER_EXTERNAL_SIDECHAIN=1',
      ]},
   ],
} %}


{% set includes = {
  'paths': [
    "JuceLibraryCode",
    "libraries",
    "libraries/juce/modules",
    "Source/frut"
  ],
  'paths_unittest': [
    "libraries/googletest/googletest/include"
  ],
  'files': [
    "Source/frut/FrutHeader.h"
  ],
  'files_unittest': [
  ]
} %}


{% set additions_solution = "" %}


{% set additions_packaging = {
  'default': [
    'archive_add "$binary_dir/Documentation" ""',
  ],

  'vst3': [
    'archive_add "RESOURCE_INPUT/Documentation" "RESOURCE_OUTPUT"',
  ],
} %}
