{%- import 'stencils/common.jinja' as common -%}

{# -------------------------------------------------------------------------- #}

{%- set all_variables = {
  'A': {
    'repeats': 12,
  },
  'b': {
    'repeats': 9,
  },
} -%}

{# -------------------------------------------------------------------------- #}

{{- common.start_new_file('ab.txt') -}}

{{- common.render(all_variables) -}}
