{# ========================================================================== #}
{#                                                                            #}
{#  FrutJUCE                                                                  #}
{#  ========                                                                  #}
{#  Common classes for use with the JUCE library                              #}
{#                                                                            #}
{#  Copyright (c) 2010-2021 Martin Zuther (http://www.mzuther.de/)            #}
{#                                                                            #}
{#  This program is free software: you can redistribute it and/or modify      #}
{#  it under the terms of the GNU General Public License as published by      #}
{#  the Free Software Foundation, either version 3 of the License, or         #}
{#  (at your option) any later version.                                       #}
{#                                                                            #}
{#  This program is distributed in the hope that it will be useful,           #}
{#  but WITHOUT ANY WARRANTY; without even the implied warranty of            #}
{#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             #}
{#  GNU General Public License for more details.                              #}
{#                                                                            #}
{#  You should have received a copy of the GNU General Public License         #}
{#  along with this program.  If not, see <http://www.gnu.org/licenses/>.     #}
{#                                                                            #}
{#  Thank you for using free software!                                        #}
{#                                                                            #}
{# ========================================================================== #}

{%- import 'settings/common.jinja' as common -%}
{%- import 'settings/frut.jinja' as frut -%}
{%- import 'settings/settings.jinja' as settings -%}

{# ========================================================================== #}

{%- macro render_preamble(copyright, includes) %}
@echo off

{% for line in copyright -%}
rem  {{ line }}
{% endfor %}


rem  ############################################################################
rem
rem  WARNING: this file was auto-generated, please do not edit!
rem
rem  ############################################################################

@AStyle --recursive --exclude="resources" --options=./.astylerc "*.cpp"
@echo.

@AStyle --recursive --exclude="resources" --options=./.astylerc "*.h"
@pause
{% endmacro -%}

{# -------------------------------------------------------------------------- #}

{%- macro render_postamble() %}
{% endmacro -%}

{# ========================================================================== #}

{{- common.start_new_file('Source/format_code.bat') -}}

{{- render_preamble(settings.copyright, settings.includes) }}

{{- render_postamble() -}}

{# -------------------------------------------------------------------------- #}

{{- common.start_new_file('Source/frut/format_code.bat') -}}

{{- render_preamble(frut.copyright, settings.includes) }}

{{- render_postamble() -}}

{# ========================================================================== #}
